<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tasomaniac.betachecker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ShareToCheckBeta"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/check_beta"
            android:relinquishTaskIdentity="true"
            android:theme="@style/Theme.Transparent.NoAnimation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:targetApi="lollipop">

            <intent-filter android:label="@string/check_beta">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
